.back__btn {
  height: 32px;
  width: 32px;
  display: block;
  background: var(--primary-color);
  color: black;
  border-radius: 50%;
  padding: var(--spacing-sm);
  cursor: pointer;
  position: fixed;
  top: 30px;
  left: var(--spacing-md);
  border: 16px solid var(--surface);
  z-index: 100;
  transition: all 0.2s ease;
}

.site-header--hidden {
  visibility: hidden;
  pointer-events: none;
}
.back__btn:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .back__btn {
    left: 15%;
  }
}
