body {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  min-height: 100dvh;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
  }
}

.container {
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-3xl) var(--spacing-md);
  min-width: 0;
}

.container--narrow {
  max-width: 750px;
}

.page-header {
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
}
