.container {
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-5xl) var(--spacing-md);
}

.page-header {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--spacing-xl);
  padding: var(--spacing-2xl);
}
