.sidebar {
  --icon-stroke: #979d8a;
  --icon-primary: #44694f;
  --icon-accent: #ffa329;

  position: sticky;
  top: 0;
  align-self: start;
  width: max-content;
  background-color: var(--surface);
  height: 100dvh;
  padding: var(--spacing-md);
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.sidebar__item:first-child {
  margin-bottom: var(--spacing-xl);
}

.sidebar__item {
  text-align: center;
}

.sidebar__item-link:is(:hover, [aria-current="page"]) {
  color: var(--primary-color);
}

.sidebar svg {
  color: var(--icon-stroke);
}

.sidebar svg [data-fill] {
  fill: none;
  transition:
    fill 0.2s ease,
    stroke 0.2s ease;
}

.sidebar svg [data-fill="primary"] {
  --fill: var(--icon-primary);
}

.sidebar svg [data-fill="accent"] {
  --fill: var(--icon-accent);
}

.sidebar svg [data-fill="brand"] {
  --fill: var(--icon-stroke);
}

.sidebar__item-link:is(:hover, [aria-current="page"])
  svg
  :is(rect, circle, path, ellipse) {
  stroke: none;
}

.sidebar__item-link:is(:hover, [aria-current="page"]) svg [data-fill] {
  fill: var(--fill);
}

.sidebar__item-title {
  display: block;
  margin-top: var(--spacing-xs);
  font-size: var(--font-size-xs);
}

.sidebar__item-title > span {
  display: block;
  padding-bottom: var(--spacing-xs);
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    padding: var(--spacing-sm) var(--spacing-md);
    z-index: 10;
  }

  .sidebar__list {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing-xs);
  }

  .sidebar__item:first-child {
    margin-bottom: 0;
  }

  .sidebar__item-link {
    display: flex;
    padding: var(--spacing-xs);
  }

  .sidebar__item-title {
    display: none;
  }
}
