.page-title {
  font-size: var(--font-size-2xl);
  color: var(--primary-color);
  font-weight: 700;
}

.page-subtitle {
  font-size: var(--font-size-2xl);
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-3xl);
}
