---
import { getCollection, getEntry } from "astro:content";

import { deriveCategory, fadeUp, formatCategoryLabel } from "@/utils";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const articles = await getCollection("articles");

  return articles.map((article) => ({
    params: { slug: article.id },
  }));
}

const slug = Astro.params.slug;
const article = slug ? await getEntry("articles", slug) : undefined;

if (!article) {
  throw new Response("Article not found", { status: 404 });
}

// const { Content } = await render(article);
const articleCategory = deriveCategory(article.id);
---

<Layout title={`${article.data.title} / Design Note`}>
  <div transition:animate={fadeUp}>
    <main>
      <header class="note__header">
        <h1 class="note__title">{article.data.title}</h1>
        <span class="note_category card__badge"
          >{formatCategoryLabel(articleCategory)}</span
        >
        <p class="note__subtitle">
          The tendency for people to get overwhelmed when they are presented
          with a large number of options, often used interchangeably with the
          term paradox of choice.
        </p>
        <img class="note__visual" src="/interaction-fade.svg" alt="" />
      </header>
      <ol class="note__takeaway">
        <li class="note__takeaway__item">
          <span class="note__takeaway__number">01</span>
          <p>
            The core of the interface is defined by a monolithic, dark-chrome
            pillar rising seamlessly from a matte, charcoal-grey canvas. It is
            static, commanding, and perfectly still—until the moment of contact.
          </p>
        </li>
        <li class="note__takeaway__item">
          <span class="note__takeaway__number">02</span>
          <p>
            The core of the interface is defined by a monolithic, dark-chrome
            pillar rising seamlessly from a matte, charcoal-grey canvas. It is
            static, commanding, and perfectly still—until the moment of contact.
          </p>
        </li>
        <li class="note__takeaway__item">
          <span class="note__takeaway__number">03</span>
          <p>
            The core of the interface is defined by a monolithic, dark-chrome
            pillar rising seamlessly from a matte, charcoal-grey canvas. It is
            static, commanding, and perfectly still—until the moment of contact.
          </p>
        </li>
      </ol>
      <p class="note__description">
        The core of the interface is defined by a monolithic, dark-chrome pillar
        rising seamlessly from a matte, charcoal-grey canvas. It is static,
        commanding, and perfectly still—until the moment of contact.
      </p>

      <h2 class="note__further__reading__title">Further Reading</h2>
      <ul class="note__further__reading__list">
        <li class="note__further__reading__item">
          <a href="#/">
            <h3 class="note__further__reading__item__title">
              Feedback Makes Interaction Feel Real
            </h3>
            <p class="note__further__reading__item__source">JB Journal, 2019</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
              ><path
                stroke="#ffa329"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1 9-9m0 5V4h-5"
              ></path></svg
            >
          </a>
        </li>

        <li class="note__further__reading__item">
          <a href="#/">
            <h3 class="note__further__reading__item__title">
              Designing AI’s “Persona”
            </h3>
            <p class="note__further__reading__item__source">Anthropic</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
              ><path
                stroke="#ffa329"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1 9-9m0 5V4h-5"
              ></path></svg
            >
          </a>
        </li>

        <li class="note__further__reading__item">
          <a href="#/">
            <h3 class="note__further__reading__item__title">
              Meaningful Metrics
            </h3>
            <p class="note__further__reading__item__source">Design Observer</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
              ><path
                stroke="#ffa329"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1 9-9m0 5V4h-5"
              ></path></svg
            >
          </a>
        </li>
      </ul>
    </main>
  </div>
</Layout>
