---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HomeIntro from "../components/HomeIntro.astro";
import Layout from "../layouts/Layout.astro";

const isHomePage = Astro.url.pathname === "/";

const fadeUp = {
  forwards: {
    old: {
      name: "fadeUpOut",
      duration: "0.2s",
      easing: "ease-in",
      fillMode: "forwards",
    },
    new: {
      name: "fadeUpIn",
      duration: "0.3s",
      easing: "cubic-bezier(0.22, 1, 0.36, 1)",
      fillMode: "backwards",
    },
  },
  backwards: {
    old: {
      name: "fadeUpOut",
      duration: "0.2s",
      easing: "ease-in",
      fillMode: "forwards",
    },
    new: {
      name: "fadeUpIn",
      duration: "0.3s",
      easing: "cubic-bezier(0.22, 1, 0.36, 1)",
      fillMode: "backwards",
    },
  },
};
---

<Layout class="container">
  <div transition:animate={fadeUp}>
    {!isHomePage && <Header activeSection="home" />}
    <HomeIntro />
    <Footer />
  </div>
</Layout>
