---
interface Props {
  hidden?: boolean;
}

const { hidden = false } = Astro.props;
---

<aside
  transition:persist="site-header"
  transition:animate="none"
  class:list={["site-header", { "site-header--hidden": hidden }]}
>
  <button type="button" onclick="window.history.back();">
    <svg
      class="back__btn"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="none"
      viewBox="0 0 32 32"
      ><path fill="currentColor" d="M19 2 7 16l12 15 4-3-11-12L23 4z"
      ></path></svg
    >
  </button>
</aside>
