---
interface Props {
  hidden?: boolean;
}

const { hidden = false } = Astro.props;
---

<aside class:list={["site-header", { "site-header--hidden": hidden }]}>
  <a href="/" class="back-link" data-back-button>
    <svg
      class="back__btn"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="none"
      viewBox="0 0 32 32"
      ><path fill="currentColor" d="M19 2 7 16l12 15 4-3-11-12L23 4z"
      ></path></svg
    >
  </a>
</aside>

<script>
  // document.addEventListener("click", (e) => {
  //   const link = (e.target as Element)?.closest?.("[data-back-button]");
  //   if (!link) return;
  //   if (window.history.length > 1) {
  //     history.back();
  //   } else {
  //     window.location.href = "/";
  //   }
  // });
</script>
