---
import CategoryMenu from "@/components/common/CategoryMenu.astro";
import QuickAccess from "@components/common/QuickAccess.astro";
import Modal from "@components/ui/Modal.astro";
import "@styles/main.css";

import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Design Note</title>
    <ClientRouter />
  </head>
  <body class="container" transition:persist>
    <slot />
    <QuickAccess />
    <Modal id="system-info-modal" title="Categories">
      <CategoryMenu />
    </Modal>
    <div
      id="nav-overlay"
      data-astro-transition-persist="nav-overlay"
      aria-hidden="true"
    >
    </div>
    <script>
      import "@/scripts/modal-controller.ts";
    </script>
  </body>
</html>
